<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form id="form">

    <label for="_id">Código </label>
    <input disabled id="_id" type="text">

    <label for="date">Dia: </label>
    <input id="date" type="date">

    <label for="duration">Duração: </label>
    <input id="duration" type="number">

    <label for="distance">Distância: </label>
    <input id="distance" type="number">

    <label for="graphic-type">Tipo do Gráfico: </label>
    <select id="graphic-type">
      <option value="bars">Barras</option>
      <option value="lines">Linhas</option>
    </select>

    <label for="data-name">Dado a ser exibido: </label>
    <select id="data-name">
      <option value="duration">Duração</option>
      <option value="distance">Distância</option>
    </select>

    <button>Salvar</button>

  </form>

  <div id="canvas-container">
    <canvas id="canvas" width="300" height="300"></canvas>
  </div>

  <div id="table-container">
    <table>
      <thead>
        <tr><th>Data</th><th>Duração</th><th>Distância</th></tr>
      </thead>
      <tbody id="table">
      </tbody>
    </table>
  </div>

  <script src="./utils/dateConversions.js"></script>
  <script src="./utils/canvas.js"></script>
  <script src="./utils/table.js"></script>
  <script>

    var trainings = [];
    var graphicType = 'bars'
    var dataName = 'duration'

    const graphicTypeSelect = document.getElementById('graphic-type');
    const dataNameSelect = document.getElementById('data-name');
    const form = document.getElementById('form');
    const dateInput = document.getElementById('date');
    const durationInput = document.getElementById('duration');
    const distanceInput = document.getElementById('distance');

    // events

    graphicTypeSelect.addEventListener('change', () => {
      graphicType = graphicTypeSelect.value;
      buildCanvas(trainings);
    })

    dataNameSelect.addEventListener('change', () => {
      dataName = dataNameSelect.value;
      buildCanvas(trainings);
    });

    form.addEventListener('submit', (e) => {

      e.preventDefault();

      if ((dateInput.value != '') && (durationInput.value != '') && (distanceInput.value != '')) {

        refreshTrainings();

        let date =  (document.getElementById('date').value).split('-');
        date = new Date(date[0], date[1], date[2]);

        createTraining({
          date: date,
          duration: parseInt(durationInput.value),
          distance: parseInt(distanceInput.value)
        });
      
        durationInput.value = '';
        distanceInput.value = '';
        dateInput.value = '';

      } else {
        console.log('data invalid')
      };

    });

    // chamadas na api

    async function createTraining(training) {

      const response = await fetch('http://localhost:5000/training/create', {
        method: 'POST',
        headers: {
          'Content-Type' : 'application/json'
        },
        body: JSON.stringify(training)
      });

      refreshTrainings();

      return response

    };

    async function deleteTraining(training) {
      let response = await fetch('http://localhost:5000/training/delete/' + training._id, {
        method: 'DELETE'
      });
    }

    async function fetchAll() {

      const response = await fetch('http://localhost:5000/training/all');
      return response.json()

    };

    async function refreshTrainings() {
      await fetchAll().then(data => {
        trainings = data.map(element => {
          
          // converte a date em uma formato mais amigável
          element.date = dateToDayMonthYear(element.date);
          return element;

        });
      });
      buildTable(trainings);
      buildCanvas(trainings);
    }

    refreshTrainings();

  </script>

</body>

</html>