<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    .input-container {
      padding: .75rem;
    }

    .input-container label {
      display: inline-block;
      width: 5rem;
    }

    .pace-container {
      padding: .5rem;
    }

    .pace-container label {
      display: inline-block;
      width: 3.5rem;
    }
  </style>

</head>

<body>

  <form id="form">

    <div class="input-container">
      <label for="_id">Código </label>
      <input disabled id="_id" type="text">
    </div>

    <div class="input-container">
      <label for="date">Dia: </label>
      <input id="date" type="date">
    </div>

    <div class="input-container">
      <label for="duration">Duração: </label>
      <input id="duration" type="time" step="1">
    </div>

    <div class="input-container">
      <label for="distance">Distância: </label>
      <input id="distance" type="text">
    </div>

    <div class="input-container" id="paces">

    </div>

    <label for="graphic-type">Tipo do Gráfico: </label>
    <select id="graphic-type">
      <option value="bars">Barras</option>
      <option value="lines">Linhas</option>
    </select>

    <label for="data-name">Dado a ser exibido: </label>
    <select id="data-name">
      <option value="duration">Duração</option>
      <option value="distance">Distância</option>
    </select>

    <button>Salvar</button>

  </form>

  <div id="canvas-container">
    <canvas id="canvas" width="300" height="300"></canvas>
  </div>

  <div id="table-container">
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Duração</th>
          <th>Distância</th>
        </tr>
      </thead>
      <tbody id="table">
      </tbody>
    </table>
  </div>

  <script src="./utils/timeConversions.js"></script>
  <script src="./utils/dateConversions.js"></script>

  <script src="./actions/trainingActions.js"></script>

  <script src="./utils/canvas.js"></script>
  <script src="./utils/table.js"></script>
  <script>

    var trainings = [];
    var graphicType = 'bars'
    var dataName = 'duration'

    const graphicTypeSelect = document.getElementById('graphic-type');
    const dataNameSelect = document.getElementById('data-name');
    const form = document.getElementById('form');
    const _idInput = document.getElementById('_id');
    const dateInput = document.getElementById('date');
    const durationInput = document.getElementById('duration');
    const distanceInput = document.getElementById('distance');
    const pacesContainer = document.getElementById('paces');

    // events
    graphicTypeSelect.addEventListener('change', () => {
      graphicType = graphicTypeSelect.value;
      refreshDataDisplays(true, false);
    })

    dataNameSelect.addEventListener('change', () => {
      dataName = dataNameSelect.value;
      refreshDataDisplays(true, false);
    });

    var distanceInteger;
    distanceInput.addEventListener('change', () => {

      buildPacesInputs([]);

    });

    form.addEventListener('submit', (e) => {

      e.preventDefault();

      const training = collectTrainingFormularyData();

      if (trainingAction != 'update') {

        createTraining({
          date: training.date,
          duration: training.duration,
          distance: training.distance,
          paces: training.paces
        })
          .then(() => {
            refreshTrainings();
            clearTrainingFormularyData();
          });

      } else {

        updateTraining(training)
          .then(() => {
            refreshTrainings();
            clearTrainingFormularyData();
          });

        trainingAction = 'create';
      };

    });

    function buildPacesInputs(paces) {

      pacesContainer.innerHTML = '';

      distanceInteger = Math.ceil((parseFloat(distanceInput.value)) / 1);

      for (let i = 0; i < distanceInteger; i++) {

        let paceContainer = document.createElement('DIV');
        paceContainer.setAttribute('class', 'pace-container');

        let label = document.createElement('LABEL');
        label.setAttribute('for', 'pace-' + i);
        let labelContent = document.createTextNode('Pace ' + (i + 1) + ': ');
        label.appendChild(labelContent);

        let input = document.createElement('INPUT');
        input.setAttribute('id', 'pace-' + i);
        input.setAttribute('type', 'time');
        input.setAttribute('step', '1');
        input.setAttribute('class', 'pace-input');

        input.value = convertSecondsToHoursMinutesSeconds(paces[i]);

        paceContainer.appendChild(label);
        paceContainer.appendChild(input);

        pacesContainer.appendChild(paceContainer);

      };

    };

    function editTraining(training) {

      trainingAction = 'update';

      _idInput.value = training._id;

      durationInput.value = convertSecondsToHoursMinutesSeconds(training.duration);

      const date = training.date.slice(6, 10) + '-' +
        training.date.slice(3, 5) + '-' +
        training.date.slice(0, 2)
      dateInput.value = date;

      distanceInput.value = training.distance;
      buildPacesInputs(training.paces);

    };

    var trainingAction;

    function clearTrainingFormularyData() {

      _idInput.value = '';
      durationInput.value = '';
      distanceInput.value = '';
      dateInput.value = '';
      pacesContainer.innerHTML = '';

    };

    function collectTrainingFormularyData() {

      if ((dateInput.value != '') && (durationInput.value != '') && (distanceInput.value != '')) {
        
        const training = {};

        training._id = _idInput.value;
        training.duration = convertTimeToSeconds(durationInput.value);
        training.distance = parseFloat((distanceInput.value).replace(',', '.'));

        // date
        const date = (document.getElementById('date').value).split('-');
        training.date = new Date(date[0], date[1], date[2]);

        // paces
        training.paces = [];
        const pacesInputs = document.getElementsByClassName('pace-input');
        for (let i = 0; i < pacesInputs.length; i++) {
          training.paces.push(convertTimeToSeconds(pacesInputs[i].value));
        };

        return training;

      } else {
        console.log('data invalid');
      };

      

    };

    async function refreshTrainings() {
      await fetchAll().then(data => {
        trainings = data.map(element => {

          // converte o date em uma formato mais amigável
          element.date = convertDateToDayMonthYear(element.date);
          //element.duration = convertSecondsToHoursMinutesSeconds(element.duration);
          return element;

        });
      });

      refreshDataDisplays(true, true);

    };

    function refreshDataDisplays(refreshCanva, refreshTable) {

      let selectedContent = [];
      for(let i = 0; i < trainings.length; i++) {

        selectedContent[i] = {
          content: trainings[i][dataName]
        };

      };

      if (refreshTable) buildTable(trainings);
      if (refreshCanva) buildCanvas(selectedContent);
    }

    refreshTrainings();

  </script>

</body>

</html>